<section class="container">
    <div class="row m-5 justify-content-md-center">
        <div class="col-md-4 order-md-1 row justify-content-end">
            <img src="/assets/img/perfil.jpg" alt="Foto de Perfil" class="img-perfil col-2">
            <div class="col-2 text-primary">
                <!-- icono de editar -->
                <i class="bi bi-pencil-square"></i>
            </div>
        </div>
        <div class="col-md-4 order-md-2">
            <h4 class="featurette-heading">Liao Miguel</h4>
            <div class="lead"><i class="bi bi-envelope-at" style="font-size: 1.7rem;"></i>
                liaomiguel@gmail.com
            </div>
            <div class="lead"><i class="bi bi-calendar-event" style="font-size: 1.7rem;"></i> 5 de abril de
                1987
                - Edad: 35</div>
            <div class="lead"><i class="bi bi-globe-americas" style="font-size: 1.7rem;"></i> Argentina
            </div>
            <div class="lead"><i class="bi bi-person-heart" style="font-size: 1.7rem;"></i> Soltero</div>
        </div>
        <div class="col-md-4 order-md-3">
            <h3>Full Stack Developer Jr</h3>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem
                Ipsum
                ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
            <p>
                <a href="#" class="btn btn-primary my-2 keychainify-checked">Tengo interés en</a>
                <a href="#" class="btn btn-secondary my-2 keychainify-checked">Agregar Sección</a>
            </p>
        </div>
    </div>
</section>