<section class="p-5 bg-light">
    <div class="container">
        <h3 class="border-bottom pb-2 mb-0">Educación</h3>
        <div class="d-flex text-muted pt-3">
            <img src="/assets/img/utn-inspt.png" alt="logo empresa" class="mx-2 img-logos">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-dark">Universidad Tecnológica Nacional - Instituto Nacional Superior
                        del Profesorado Técnico</strong>
                    <a href="#" class="keychainify-checked">2009 ~ 2017</a>
                </div>
                <strong class="d-block">Técnico Superior Informática Aplicada - Nivel Terciario</strong>
                <span class="d-block">Es un hecho establecido hace demasiado tiempo que un lector se
                    distraerá
                    con el contenido del texto de un sitio mientras que mira su diseño.</span>
                <div class="mt-3 text-primary"><i class="bi bi-pencil-square"></i> <i
                        class="bi bi-trash-fill"></i></div>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">
            <img src="/assets/img/utn-ba-logo.png" alt="logo empresa" class="mx-2 img-logos">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-dark">Universidad Tecnológica Nacional - Facultad Regional Buenos
                        Aires</strong>
                    <a href="#" class="keychainify-checked">2009 ~ 2017</a>
                </div>
                <strong class="d-block">Técnico Superior Informática Aplicada - Nivel Terciario</strong>
                <span class="d-block">Es un hecho establecido hace demasiado tiempo que un lector se
                    distraerá
                    con el contenido del texto de un sitio mientras que mira su diseño.</span>
                <div class="mt-3 text-primary"><i class="bi bi-pencil-square"></i> <i
                        class="bi bi-trash-fill"></i></div>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">
            <img src="/assets/img/gral-jose-san-martin.png" alt="logo empresa" class="mx-2 img-logos">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-dark">Escuela Técnica 32 DE 14 "Gral. José de San Martín"</strong>
                    <a href="#" class="keychainify-checked">2000 ~ 2006</a>
                </div>
                <strong class="d-block">Técnico Mecánico - Secundario</strong>
                <span class="d-block">Es un hecho establecido hace demasiado tiempo que un lector se
                    distraerá
                    con el contenido del texto de un sitio mientras que mira su diseño.</span>
                <div class="mt-3 text-primary"><i class="bi bi-pencil-square"></i> <i
                        class="bi bi-trash-fill"></i></div>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">
            <img src="/assets/img/inap.png" alt="logo empresa" class="mx-2 img-logos">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-dark">Instituto Nacional de la Administración Pública</strong>
                    <a href="#" class="keychainify-checked">2006 ~ 2017</a>
                </div>
                <strong class="d-block">Office Excel Avanzado</strong>
                <span class="d-block">Es un hecho establecido hace demasiado tiempo que un lector se
                    distraerá
                    con el contenido del texto de un sitio mientras que mira su diseño.</span>
                <div class="mt-3 text-primary"><i class="bi bi-pencil-square"></i> <i
                        class="bi bi-trash-fill"></i></div>
            </div>
        </div>
        <small class="d-block text-end mt-3">
            <a href="#" class="keychainify-checked">Agregar</a>
        </small>
    </div>
</section>