<section class="p-5 bg-light">
    <div class="container">
        <h3 class="border-bottom pb-2 mb-0">Proyectos</h3>
        <div class="d-flex text-muted pt-3">
            <img src="/assets/img/utn-inspt.png" alt="logo empresa" class="mx-2 img-logos">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-dark">UTN - INSPT</strong>
                    <a href="#" class="keychainify-checked">Octubre 2019</a>
                </div>
                <strong class="d-block">Software Libere GNU 60 - Congreso</strong>
                <span class="d-block">Participación de la charla Software Libre por 60 Aniversario que se organizo en la UTN-INSPT</span>
                <div class="mt-3 text-primary"><i class="bi bi-pencil-square"></i> <i
                        class="bi bi-trash-fill"></i></div>
            </div>
        </div>
        <small class="d-block text-end mt-3">
            <a href="#" class="keychainify-checked">Agregar</a>
        </small>
    </div>
</section>