<nav class="navbar navbar-expand-xxl navbar-dark bg-dark" aria-label="Seventh navbar example">
    <div class="container">

        <a class="navbar-brand keychainify-checked" href="#"> <img src="/assets/img/arg-programa.png" alt="logo" class="logo"> Argentina
            Programa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menusuperior"
            aria-controls="menusuperior" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menusuperior">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link active keychainify-checked" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link keychainify-checked"
                        href="https://argentinaprograma.inti.gob.ar/">#YoProgramo</a>
                </li>
            </ul>

            <div class="text-end">
                <i class="bi bi-facebook p-2" style="font-size: 1.5rem; color: white;"></i>
                <i class="bi bi-instagram p-2" style="font-size: 1.5rem; color: white;"></i>
                <i class="bi bi-twitter p-2" style="font-size: 1.5rem; color: white;"></i>
                <button type="button" class="btn btn-outline-light mb-2">Ingresar</button>
            </div>
        </div>
    </div>
</nav>