.logo {
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.jumbotron {
    background-image: url("/img/portada.jpg");
    background-size: cover;
}

.img-perfil {
    width: 250px;
    height: max-content;
}

.img-logos{
    width: 130px;
    height: max-content;
}